<h2>{{insertUpdate}} Product</h2>

<table>
    <!-- this row will be hidden or displayed depending on the value of boolean isUpdateMode -->
    
    <tr>
        <td class="fieldName">Description</td>
        <td><input type="text" ng-model="newproduct.productDesc"></td>
        <td class="fieldError">{{myErrors.productDesc}}</td>
    </tr>
    <tr>
        <td class="fieldName">Price</td>
        <td><input type="text" ng-model="newproduct.retailPrice"></td>
        <td class="fieldError">{{myErrors.retailPrice}}</td>
    </tr>
    <tr>
        <td class="fieldName">Material</td>
        <td><input type="text" ng-model="newproduct.productMaterial"></td>
        <td class="fieldError">{{myErrors.productMaterial}}</td>
    </tr>
     <tr>
        <td class="fieldName">Image</td>
        <td><input type="text" ng-model="newproduct.imageName"></td>
        <td class="fieldError">{{myErrors.imageName}}</td>
    </tr>
</table>

<p>
    <input type="button" value="Insert Save" data-ng-show="isInsertMode" data-ng-click="insertSave()">
    &nbsp;&nbsp;&nbsp;{{status}}
</p>
<p>
    <a href="#/list">back to list</a>
</p>